@import './base.css';
:root {
  --bs-body-font-size: 1rem;
}
.bg-lemonade {
  xbackground-color: #6f377c;

  xbackground-color: #001f3f;
  background-color: #fff;
  background-color: #89bf65;
  background-color: #235c00;
  background-color: #568f32;
}
body {
  font-family: Abel, Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.btn-success,
.btn-danger,
.btn-info {
  color: #fff;
}
/* Navbar */

.toolbar {
  width: calc(100% - 0px);
  margin-left: 0px;
  border-bottom: 1px solid #888;
}

.main-content {
  margin-top: 56px;
  margin-top: 50px;
  margin-left: 60px;
  transition: all 0.3s ease;
  width: calc(100% - 60px);
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar .menu-text {
    display: none;
  }

  .sidebar:hover {
    width: 250px;
  }

  .sidebar:hover .menu-text {
    display: inline;
  }
}

/* transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.control-label.required {
  font-weight: bold;
}
.control-label.required:after {
  content: '*';
  color: red;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #568f32 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #568f32;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.explorer-side-container {
  xoverflow-y: scroll;
  xheight: 80vh;
  xpadding: 0 2px;
}
